# Base de données PostgreSQL
DB_HOST=db
DB_NAME=social_media_db
DB_USER=social_media_user
DB_PASSWORD=social_media_password
DB_PORT=5432

# Django
DEBUG=1
SECRET_KEY=django-insecure-development-key-change-in-production

# Superutilisateur Django
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123
